<div class="products__table">
    <div class="products__row products__row_head">
        <div class="products__cell">
            <label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox">
                <span class="checkbox__in">
                    <span class="checkbox__tick"></span>
                </span>
            </label>
        </div>
        <div class="products__cell">Tên công việc</div>
        <div class="products__cell">Dự án</div>
        <div class="products__cell">Trạng thái</div>
        <div class="products__cell">Bắt đầu dự kiến</div>
        <div class="products__cell">Bắt đầu thực tế</div>
        <div class="products__cell">Kết thúc dự kiến</div>
        <div class="products__cell">Thực hiện</div>
        <div class="products__cell">Hạn</div>
    </div>
    <div class="products__row" data-id="1">
        <div class="products__cell">
            <label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox">
                <span class="checkbox__in">
                    <span class="checkbox__tick"></span>
                </span>
            </label>
        </div>
        <div class="products__cell">
            <div class="products__details">
                <div class="products__title">Xây dựng giao diện quản lý công việc</div>
            </div>
        </div>
        <div class="products__cell">Quản lý công việc</div>
        <div class="products__cell">Đang thực hiện</div>
        <div class="products__cell">10/09/2022</div>
        <div class="products__cell">11/09/2022</div>
        <div class="products__cell">20/11/2022</div>
        <div class="products__cell">Phùng Mạnh Hưởng</div>
        <div class="products__cell">Còn 20 ngày</div>
    </div>
    <div class="products__row" data-id="2">
        <div class="products__cell">
            <label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox" checked>
                <span class="checkbox__in">
                    <span class="checkbox__tick"></span>
                </span>
            </label>
        </div>
        <div class="products__cell">
            <div class="products__details">
                <div class="products__title">Viết Api phần backend phục vụ frontend</div>
            </div>
        </div>
        <div class="products__cell">Quản lý công việc</div>
        <div class="products__cell">Đang thực hiện</div>
        <div class="products__cell">10/09/2022</div>
        <div class="products__cell">11/09/2022</div>
        <div class="products__cell">20/11/2022</div>
        <div class="products__cell">Phùng Mạnh Hưởng</div>
        <div class="products__cell">Còn 20 ngày</div>
    </div>
    <div class="products__row" data-id="3">
        <div class="products__cell">
            <label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox">
                <span class="checkbox__in">
                    <span class="checkbox__tick"></span>
                </span>
            </label>
        </div>
        <div class="products__cell">
            <div class="products__details">
                <div class="products__title">Xậy dựng frontend kết nối Api</div>
            </div>
        </div>
        <div class="products__cell">Quản lý công việc</div>
        <div class="products__cell">Đang thực hiện</div>
        <div class="products__cell">10/09/2022</div>
        <div class="products__cell">11/09/2022</div>
        <div class="products__cell">20/11/2022</div>
        <div class="products__cell">Phùng Mạnh Hưởng</div>
        <div class="products__cell">Còn 20 ngày</div>
    </div>

    <div class="products__row" data-id="4">
        <div class="products__cell">
            <label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox">
                <span class="checkbox__in">
                    <span class="checkbox__tick"></span>
                </span>
            </label>
        </div>
        <div class="products__cell">
            <div class="products__details">
                <div class="products__title">Xây dựng giao diện quản lý công việc</div>
            </div>
        </div>
        <div class="products__cell">Quản lý công việc</div>
        <div class="products__cell">Đang thực hiện</div>
        <div class="products__cell">10/09/2022</div>
        <div class="products__cell">11/09/2022</div>
        <div class="products__cell">20/11/2022</div>
        <div class="products__cell">Phùng Mạnh Hưởng</div>
        <div class="products__cell">Còn 20 ngày</div>
    </div>
    <div class="products__row" data-id="5">
        <div class="products__cell">
            <label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox" checked>
                <span class="checkbox__in">
                    <span class="checkbox__tick"></span>
                </span>
            </label>
        </div>
        <div class="products__cell">
            <div class="products__details">
                <div class="products__title">Viết Api phần backend phục vụ frontend</div>
            </div>
        </div>
        <div class="products__cell">Quản lý công việc</div>
        <div class="products__cell">Đang thực hiện</div>
        <div class="products__cell">10/09/2022</div>
        <div class="products__cell">11/09/2022</div>
        <div class="products__cell">20/11/2022</div>
        <div class="products__cell">Phùng Mạnh Hưởng</div>
        <div class="products__cell">Còn 20 ngày</div>
    </div>
    <div class="products__row" data-id="6">
        <div class="products__cell">
            <label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox">
                <span class="checkbox__in">
                    <span class="checkbox__tick"></span>
                </span>
            </label>
        </div>
        <div class="products__cell">
            <div class="products__details">
                <div class="products__title">Xậy dựng frontend kết nối Api</div>
            </div>
        </div>
        <div class="products__cell">Quản lý công việc</div>
        <div class="products__cell">Đang thực hiện</div>
        <div class="products__cell">10/09/2022</div>
        <div class="products__cell">11/09/2022</div>
        <div class="products__cell">20/11/2022</div>
        <div class="products__cell">Phùng Mạnh Hưởng</div>
        <div class="products__cell">Còn 20 ngày</div>
    </div>
</div>

<div class="products__foot">
    <div class="products__counter">1-10 of 195 items</div>
    <div class="pagination">
        <div class="pagination__wrap">
            <a class="pagination__arrow" href="#">
                <svg class="icon icon-arrow-prev">
                    <use xlink:href="img/sprite.svg#icon-arrow-prev"></use>
                </svg>
            </a>
            <div class="pagination__list"><a class="pagination__link active" href="#">1</a><a class="pagination__link" href="#">2</a><a class="pagination__link" href="#">3</a><a class="pagination__link" href="#">4</a><a class="pagination__link" href="#">5</a><a class="pagination__link" href="#">...</a><a class="pagination__link" href="#">19</a></div><a class="pagination__arrow" href="#">
                <svg class="icon icon-arrow-next">
                    <use xlink:href="img/sprite.svg#icon-arrow-next"></use>
                </svg>
            </a>
        </div>
        @*<div class="pagination__view">
                <select class="pagination__select">
                    <option>10</option>
                    <option>20</option>
                    <option>30</option>
                </select>
                <div class="pagination__icon">
                    <svg class="icon icon-arrows">
                        <use xlink:href="img/sprite.svg#icon-arrows"></use>
                    </svg>
                </div>
            </div>*@
    </div>
</div>