<div class="details__head">
    <div class="details__title">Design Dashboard and UI Kit</div>
    <div class="details__info">Added by <span class="details__author">John Son</span>, 22 hours ago</div>
</div>
<div class="details__group">
    <div class="details__box">
        <div class="details__category">Assigned to</div>
        <div class="users">
            <div class="users__item"><img class="users__pic" src="img/ava-1.png" alt="" /></div>
            <div class="users__item"><img class="users__pic" src="img/ava-2.png" alt="" /></div>
            <div class="users__item" style="background-color: #FFC542">JH</div>
        </div>
    </div>
    <div class="details__box">
        <div class="details__category">Due Date</div>
        <div class="details__date">Tue, 21 May 2019</div>
    </div>
</div>
<div class="details__wrapper">
    <div class="details__item">
        <div class="details__stage">
            <svg class="icon icon-content">
                <use xlink:href="img/sprite.svg#icon-content"></use>
            </svg>Description
        </div>
        <div class="article js-article">
            <div class="article__content js-article-content">
                <p>Next Friday should be done. Next Monday we should deliver the first iteration. Make sure, we have a good result to be delivered by the day.</p>
                <p>I made some wireframes that we would like you to follow since we are building it in Google’s Material Design (Please learn more about this and see how to improve standard material design into something beautiful). But besides that, you can just do it how you like.</p>
                <p>Next Friday should be done. Next Monday we should deliver the first iteration. Make sure, we have a good result to be delivered by the day.</p>
                <p>I made some wireframes that we would like you to follow since we are building it in Google’s Material Design (Please learn more about this and see how to improve standard material design into something beautiful). But besides that, you can just do it how you like.</p>
            </div><a class="article__more js-article-more" href="#" data-text-show="Show Full Description" data-text-hide="Hide Full Description">Show Full Description</a>
        </div>
    </div>
    <div class="details__item">
        <div class="details__stage">
            <svg class="icon icon-attachment">
                <use xlink:href="img/sprite.svg#icon-attachment"></use>
            </svg>Attachment
        </div>
        <div class="details__gallery">
            <div class="details__photo">
                <div class="details__preview"><img class="details__pic" src="img/details-pic-1.png" alt="" /></div>
                <div class="details__text">Dashboard references - 01.png</div>
            </div>
            <div class="details__photo">
                <div class="details__preview"><img class="details__pic" src="img/details-pic-2.png" alt="" /></div>
                <div class="details__text">Dashboard references - 02.png</div>
            </div>
        </div>
    </div>
    <div class="details__item">
        <div class="details__stage details__stage_mb-lg">
            <svg class="icon icon-task">
                <use xlink:href="img/sprite.svg#icon-task"></use>
            </svg>Task List
        </div>
        <div class="details__scale">
            <div class="details__percent">25%</div>
            <div class="details__line">
                <div class="details__progress" style="width: 25%;"></div>
            </div>
        </div>
        <div class="details__list">
            <label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox" checked="checked" /><span class="checkbox__in">
                    <span class="checkbox__tick"></span><span class="checkbox__flex">
                        <span class="checkbox__info">Create Flow Chart</span><span class="checkbox__date">
                            <svg class="icon icon-calendar">
                                <use xlink:href="img/sprite.svg#icon-calendar"></use>
                            </svg>20 Apr, 2018
                        </span><span class="user"><span class="user__ava"><img class="user__pic" src="img/ava-1.png" alt="" /></span><span class="user__name">Adam Yogie</span></span>
                    </span>
                </span>
            </label><label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox" checked="checked" /><span class="checkbox__in">
                    <span class="checkbox__tick"></span><span class="checkbox__flex">
                        <span class="checkbox__info">Create Moodboard</span><span class="checkbox__date">
                            <svg class="icon icon-calendar">
                                <use xlink:href="img/sprite.svg#icon-calendar"></use>
                            </svg>21 Apr, 2018
                        </span><span class="user"><span class="user__ava"><img class="user__pic" src="img/ava-1.png" alt="" /></span><span class="user__name">Adam Yogie</span></span><span class="user"><span class="user__ava"><img class="user__pic" src="img/ava-2.png" alt="" /></span><span class="user__name">Fawaid Nur</span></span>
                    </span>
                </span>
            </label><label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox" /><span class="checkbox__in">
                    <span class="checkbox__tick"></span><span class="checkbox__flex">
                        <span class="checkbox__info">Wireframing</span><span class="checkbox__date">
                            <svg class="icon icon-calendar">
                                <use xlink:href="img/sprite.svg#icon-calendar"></use>
                            </svg>23 Apr, 2018
                        </span><span class="user"><span class="user__ava"><img class="user__pic" src="img/ava-1.png" alt="" /></span><span class="user__name">Adam Yogie</span></span>
                    </span>
                </span>
            </label><label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox" /><span class="checkbox__in">
                    <span class="checkbox__tick"></span><span class="checkbox__flex">
                        <span class="checkbox__info">Testing & Evaluation</span><span class="checkbox__date">
                            <svg class="icon icon-calendar">
                                <use xlink:href="img/sprite.svg#icon-calendar"></use>
                            </svg>25 Apr, 2018
                        </span><span class="user"><span class="user__ava"><img class="user__pic" src="img/ava-1.png" alt="" /></span><span class="user__name">Adam Yogie</span></span><span class="user"><span class="user__ava"><img class="user__pic" src="img/ava-2.png" alt="" /></span><span class="user__name">Fawaid Nur</span></span><span class="user"><span class="user__letters" style="background-color: #FFC542;">JH</span><span class="user__name">Juven Haider</span></span>
                    </span>
                </span>
            </label><label class="checkbox checkbox_green checkbox_big">
                <input class="checkbox__input" type="checkbox" /><span class="checkbox__in">
                    <span class="checkbox__tick"></span><span class="checkbox__flex">
                        <span class="checkbox__info">Create look & feel</span><span class="checkbox__date">
                            <svg class="icon icon-calendar">
                                <use xlink:href="img/sprite.svg#icon-calendar"></use>
                            </svg>26 Apr, 2018
                        </span><span class="user"><span class="user__ava"><img class="user__pic" src="img/ava-1.png" alt="" /></span><span class="user__name">Adam Yogie</span></span><span class="user"><span class="user__ava"><img class="user__pic" src="img/ava-2.png" alt="" /></span><span class="user__name">Fawaid Nur</span></span><span class="user"><span class="user__letters" style="background-color: #FFC542;">JH</span><span class="user__name">Juven Haider</span></span>
                    </span>
                </span>
            </label>
        </div>
    </div>
    <div class="details__item">
        <div class="details__stage details__stage_mb-lg">
            <svg class="icon icon-messages">
                <use xlink:href="img/sprite.svg#icon-messages"></use>
            </svg>Comments (1)
        </div>
        <div class="comments">
            <div class="comments__list">
                <div class="comments__item">
                    <div class="ava" style="background-color: #FFC542">KA</div>
                    <div class="comments__details">
                        <div class="comments__head">
                            <div class="comments__author">Joel Hopkins, <span class="comments__post">Project Manager</span></div>
                            <div class="comments__date">Dec 14, 2018</div>
                            <div class="options js-options">
                                <button class="options__btn js-options-btn">
                                    <svg class="icon icon-dots">
                                        <use xlink:href="img/sprite.svg#icon-dots"></use>
                                    </svg>
                                </button>
                                <div class="options__dropdown js-options-dropdown">
                                    <div class="options__stage">
                                        List Actions<button class="options__close js-options-close">
                                            <svg class="icon icon-close">
                                                <use xlink:href="img/sprite.svg#icon-close"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <div class="options__group"><a class="options__link" href="#">Add New Teams… </a><a class="options__link" href="#">Edit Current Teams…</a><a class="options__link" href="#">Add New Member…</a><a class="options__link" href="#">Remove Current Member…</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="comments__line">
                            <div class="ava"><img class="ava__pic" src="img/ava-1.png" alt="" /></div><span class="comments__info"><strong>Yogie Ismanda</strong> UI Kit + Minor revisi ini ya pak.. </span>
                        </div>
                        <div class="comments__text">
                            <p>- We would like to have Pageviews, click, conversion and total revenue up in the right corner of the graph. And maybe design them so the look more like buttons that you can turn on/off?</p>
                            <p>- Latest clicks/conversions. Where you currently have the logo for merchant, we should instead have a logo that represent the referring traffic sources (ex. Google or Facebook). So we’re actually missing a column that should say “Source”. And there should be no icon for the merchants.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comments__write">
                <div class="ava"><img class="ava__pic" src="img/header-ava.png" alt="" /></div>
                <div class="comments__field"><input class="comments__input" type="text" placeholder="Add a comment or upload a file…" /></div>
            </div>
        </div>
    </div>
</div>