@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
    ViewData["Title"] = T["Bảng lương tháng"];
}

<div class="sorting1">
    <div class="sorting1__row">
        <h1 class="sorting1__title title">@T["Bảng lương tháng"]</h1>
    </div>
</div>
