@using Microsoft.AspNetCore.Mvc.Localization
@using Humax.ESS.Models.Profile.Experiences
@model ExperienceModel
@inject IViewLocalizer T

<script>
    $(function () {
        $('#formSubmit').submit(function (e) {
            e.preventDefault();

            var _action = $('form#formSubmit').attr('action');
            var _data = $('form#formSubmit').serializeArray();

            $.ajax({
                dataType: 'json',
                type: 'POST',
                url: _action,
                data: _data,
                success: function (res, status, jqXHR) {
                    //console.log(res);
                    if (res.success == 1) {
                        toastr.success("Thực hiện thành công");

                        if ($('#gridContainer').length)
                            $("#gridContainer").dxDataGrid('instance').refresh();

                        ClosePopup();
                    } else if (res.success == 99) {
                        toastr.warning("Dữ liệu không đúng định dạng");
                        console.log(res.validation);
                    } else {
                        toastr.warning("Có lỗi trong quá trình xử lý");
                    }
                },
                error: function (jqXHR, status, err) {
                    toastr.error("Lỗi Server");
                },
                complete: function () {
                    //$("body").removeClass("loading");
                }
            });
        });
    });
</script>

<form id="formSubmit" method="post" action="@Url.Action("PostExperiences", "Profile")">
    @(Html.DevExtreme().Form<ExperienceModel>()
    .ShowValidationSummary(false)
    .ID("form")
    .ColCount(12)
    .Items(items => {
        items.AddSimpleFor(m => m.KinhNghiemID)
                .ColSpan(12)
                .Label(l => l.Visible(false))
                .CssClass("hidden-control");

        items.AddSimpleFor(m => m.NoiLamViec)
                        .ColSpan(12)
                        .Label(e => e
                            .Text("Nơi làm việc")
                        )
                        .Editor(e => e
                            .TextBox()
                            .Placeholder("Nơi làm việc")
                            .Width("100%")
                            .Disabled(false)
                        );

        items.AddSimpleFor(m => m.TuNgay)
            .ColSpan(6)
            .Label(e => e
                .Text("Ngày bắt đầu")
            )
            .Editor(e => e
                .DateBox()
                .ShowClearButton(true)
                .Width("100%")
                .DisplayFormat("dd-MM-yyyy")
            )
            .IsRequired(false);

        items.AddSimpleFor(m => m.ToiNgay)
            .ColSpan(6)
            .Label(e => e
                .Text("Ngày kết thúc")
            )
            .Editor(e => e
                .DateBox()
                .ShowClearButton(true)
                .Width("100%")
                .DisplayFormat("dd-MM-yyyy")
            )
            .IsRequired(false);

        items.AddSimpleFor(m => m.ChucVu)
                        .ColSpan(12)
                        .Label(e => e
                            .Text("Vị trí")
                        )
                        .Editor(e => e
                            .TextBox()
                            .Placeholder("Vị trí làm việc")
                            .Width("100%")
                            .Disabled(false)
                        );

        items.AddSimpleFor(m => m.MucLuong)
            .ColSpan(6)
            .Label(e => e
                .Text("Mức lương")
            )
            .Editor(e => e
                .NumberBox()
                .Placeholder("Mức lương")
                .Max(10000000000)
                .Format("#,##0.##")//#0.##
                .ShowSpinButtons(true)
                .ShowClearButton(true)
                .Width("100%")
                .Disabled(false)
            );

        items.AddSimpleFor(m => m.NganhNgheID)
            .ColSpan(6)
            .Label(e => e
                .Text("Ngành nghề")
            )
            .Editor(e => e
                .SelectBox()
                .ShowClearButton(true)
                .Placeholder("Ngành nghề")
                .Width("100%")
                .Disabled(false)
                .DataSource(d => d.RemoteController()
                    .Key("Id")
                    .LoadUrl("/Category/GetCategoryByType?type=NS_DsNganhNghe")
                )
                .DisplayExpr("Name")
                .ValueExpr("Id")
            );

        items.AddSimpleFor(m => m.LyDoNghiViec)
                        .ColSpan(12)
                        .Label(e => e
                            .Text("Lý do nghỉ")
                        )
                        .Editor(e => e
                            .TextArea()
                            .Placeholder("Lý do nghỉ việc")
                            .Width("100%")
                            .Height(65)
                            .Disabled(false)
                        );
    }).FormData(Model)
    )

    <button class="group__btn btn btn_blue flr mgt-10 mgr-0" type="submit">
        <i class="icon dx-icon-check"></i>@T["Lưu"]
    </button>

    <button class="group__btn btn btn_yellow flr mgt-10 mgr-6" type="button" onclick="ClosePopup();">
        <i class="icon dx-icon-close"></i>@T["Đóng"]
    </button>
</form>