@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
    ViewData["Title"] = T["Khen thưởng con"];
}

<div class="sorting1">
    <div class="sorting1__row">
        <h1 class="sorting1__title title">@T["Khen thưởng con"]</h1>
    </div>
</div>
