@using Humax.ESS.Models.Trainning;
@using Microsoft.AspNetCore.Mvc.Localization;

@model List<TrainningFinishedModel>

@inject IViewLocalizer T

@{
    if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="courses__item">
                <div class="courses__preview"><img class="courses__pic" src="img/courses-pic-6.jpg" alt=""></div>
                <div class="courses__wrap">
                    <div class="courses__info">@item.TenNoiDung</div>
                    <div class="courses__details"><span class="courses__desc">Sebo Studio</span><span class="courses__category">Programming, Coding</span></div>
                    <div class="courses__line">
                        <div class="courses__box">
                            <svg class="icon icon-clock">
                                <use xlink:href="/img/sprite.svg#icon-clock"></use>
                            </svg><span>@(string.Format("{0}-{1}", (item.TuNgay.HasValue ? item.TuNgay.Value.ToString("dd/MM/yyyy") : "#"), (item.ToiNgay.HasValue ? item.ToiNgay.Value.ToString("dd/MM/yyyy") : "#")))</span>
                        </div>
                        <div class="courses__box">
                            <svg class="icon icon-file">
                                <use xlink:href="/img/sprite.svg#icon-file"></use>
                            </svg><span>Tài liệu</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}