<div class="page2__nav">
    <a class="page2__link active" href="#">
        <svg class="icon icon-dashboard">
            <use xlink:href="/img/sprite.svg#icon-dashboard"></use>
        </svg>
    </a><a class="page2__link" href="#">
        <svg class="icon icon-friends">
            <use xlink:href="/img/sprite.svg#icon-friends"></use>
        </svg>
    </a><a class="page2__link" href="#">
        <svg class="icon icon-event">
            <use xlink:href="/img/sprite.svg#icon-event"></use>
        </svg>
    </a><a class="page2__link" href="#">
        <svg class="icon icon-video">
            <use xlink:href="/img/sprite.svg#icon-video"></use>
        </svg>
    </a><a class="page2__link" href="#">
        <svg class="icon icon-photo">
            <use xlink:href="/img/sprite.svg#icon-photo"></use>
        </svg>
    </a><a class="page2__link yes" href="#">
        <svg class="icon icon-bell">
            <use xlink:href="/img/sprite.svg#icon-bell"></use>
        </svg>
    </a>
</div>