@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
    ViewData["Title"] = T["Đăng ký chỉ tiêu"];
}

<div class="sorting1">
    <div class="sorting1__row">
        <h1 class="sorting1__title title">@T["Đăng ký chỉ tiêu"]</h1>
    </div>
</div>
