@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@{
    ViewData["Title"] = T["Tự đánh giá"];
}

<div class="sorting1">
    <div class="sorting1__row">
        <h1 class="sorting1__title title">@T["Tự đánh giá"]</h1>
    </div>
</div>
